<!doctype html>
<html lang="en">

	<!-- head -->
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>Gamma {% block title %}{% endblock %}</title>
		<meta name="description" content="Great Attendance Monitoring and Measuring of Activity system">

		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fontello/css/fontello.css') }}">

		<!-- JavaScript -->
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
		{% endblock %}
	</head>

	<!-- body -->
	<body>
		{% block body %}
		<!-- header -->
		<header class="clearfix">
			{% block header %}
			<div class="pagewidth">
				<div class="logo">
					<h1 id="site-title"><a href="/" title="Home">Gamma</a></h1>
					<h2 id="site-description">Great Attendance Monitoring and Measuring of Activity system</h2>
				</div>
				<div class="metanav">
					{% if not session.logged_in %}
					<a href="{{ url_for('login') }}">log in</a>
					{% else %}
					<span>Hi {{session.userid}}</span>
					<a href="{{ url_for('logout') }}">log out</a>
					{% endif %}
				</div>
			</div>
			{% endblock %}
		</header>

		<!-- main -->
		<main class="clearfix">
			<div class="pagewidth">
				{% block main %}

				{% endblock %}
			</div>
		</main>

		<!-- footer -->
		<footer>
			<div class="pagewidth">
				{% block footer %}
				<p>Gamma on <a href="https://github.com/moozer/GAMMA" title="Gamma">GitHub</a></p>
				{% endblock %}
			</div>
		</footer>

		{% endblock %}
	</body>

	<!-- User Messages -->
	{% include "messages.html" %}

</html>
