{% extends "base_layout.html" %}

	{% block main %}
	<h1 class="page-title">{{ title }}</h1>
	
	<embed class="graph" type="image/svg+xml" src="{{graph_data|safe}}"/>

	<h3>Overview of students</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Attendance</th>
					<th>Absense</th>
					<th>Handins</th>
					<th>Extra Points</th>
					<th>Total Points</th>
					<th>More</th>
				</tr>
			</thead>
			<tbody>
				{% for stud in points_list %}
				<tr>
					<td>{{stud.name}}</td>
					<td>{{stud.points.attendance}}</td>
					<td>{{stud.points.absence}}</td>
					<td>{{stud.points.handins}}</td>
					<td>{{stud.points.extra}}</td>
					<td>{{stud.points.attendance + stud.points.handins +
						stud.points.extra - stud.points.absence}}</td>
					<td><a href="/points/{{stud.id}}">details</a></td>
				</tr>
				{% endfor %}
			</tbody>
	</table>
	{% endblock %}
