{% extends "base_layout.html" %}

	{% block main %}
	<h1 class="page-title">{{ title }}</h1>
	<h3>Date: {{ lesson.date }}</h3>

	<br>
	<p>More info about learning goals and points should go here.</p>
	<br>

	<table>
		<thead>
			<tr>
				<th>Stundent Id</th>
				<th>Attendance</th>
				<th>Absence</th>
				<th>Handin</th>
			</tr>
		</thead>
		<tbody>
			{% for sp in points %}
			<tr>
				<td>{{sp.student_id}}</td>
				<td>{{sp.attendance}}</td>
				<td>{{sp.absence}}</td>
				<td>{{sp.handin}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endblock %}
