{% extends "base_layout.html" %}

	{% block main %}
	<h1 class="page-title">{{ title }}</h1>

		<form action="{{ url_for('login') }}" method="post">
			{{ form.csrf_token }}

			<p>Username</p>
			{{ form.username }}
			{% for error in form.username.errors %}
				<p class="form-error">{{ error }}</p>
			{% endfor %}

			<p>Password</p>
			{{ form.password }}
			{% for error in form.password.errors %}
				<p class="form-error">{{ error }}</p>
			{% endfor %}

			{% if test_user and test_password is defined %}
				<div style="background: yellow; padding: 1em; display: inline-block">
					<p>For testing purposes please use the following credentials</p>
					<hr>
					<p>User: <strong>{{ test_user }}</strong></p>
					<p>Password: <strong>{{ test_password }}</strong></p>
				</div>
			{% endif %}

			<input type="submit" value="Log In" class="clearfix">

		</form>
	{% endblock %}
