{% extends "base_layout.html" %}

	{% block main %}
	<h3>Detailed points list for {{ studname }}</h3>

	<h4>Attendance</h4>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Session</th>
				<th>More</th>
			</tr>
		</thead>
		<tbody>
			{% for att in points_list.attendance %}
			<tr>
				<td>{{att.date}}</td>
				<td>{{att.session}}</td>
				<td><a href="/session/{{att.sessionid}}">details</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h4>Absence w/o cause</h4>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Session</th>
				<th>More</th>
			</tr>
		</thead>
		<tbody>
			{% for abs in points_list.absence %}
			<tr>
				<td>{{abs.date}}</td>
				<td>{{abs.session}}</td>
				<td><a href="/session/{{abs.sessionid}}">details</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h4>Hand-ins</h4>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Session</th>
				<th>More</th>
			</tr>
		</thead>
			<tbody>
			{% for hi in points_list.handins %}
			<tr>
				<td>{{hi.date}}</td>
				<td>{{hi.session}}</td>
				<td><a href="/session/{{hi.sessionid}}">details</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h4>Hand-ins</h4>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Points</th>
				<th>Reason</th>
			</tr>
		</thead>
		<tbody>
			{% for ext in points_list.extra %}
			<tr>
				<td>{{ext.date}}</td>
				<td>{{ext.points}}</td>
				<td>{{ext.reason}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% endblock %}
