{% extends "base_layout.html" %}

	{% block main %}
	.....some cool graph should be inserted here..... <br>
	<br>

	<h3>Overview of students</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Attendance</th>
					<th>Absense</th>
					<th>Handins</th>
					<th>Extra</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				{% for stud in points_list %}
				<tr>
					<td><a href="/points/{{stud.id}}">{{stud.name}}</a></td>
					<td>{{stud.points.attendance}}</td>
					<td>{{stud.points.absense}}</td>
					<td>{{stud.points.handins}}</td>
					<td>{{stud.points.extra}}</td>
					<td>{{stud.points.sum}}</td>
				</tr>
				{% endfor %}
			</tbody>
	</table>
	{% endblock %}
