{% extends "base_layout.html" %}

{% block body %}

<h2>Detailed points list for {{ studname }}</h2>

<h3>Attendance</h3>
<table>
{% for att in points_list.attendance %}
<tr>
<td>{{att.date}}</td>
<td>{{att.session}}</td>
<td><a href="/session/{{att.sessionid}}">details</td>
</tr>
{% endfor %}
</table>

<h3>Absence w/o cause</h3>
<table>
{% for abs in points_list.absence %}
<tr>
<td>{{abs.date}}</td>
<td>{{abs.session}}</td>
<td><a href="/session/{{abs.sessionid}}">details</td>
</tr>
{% endfor %}
</table>

<h3>Hand-ins</h3>
<table>
{% for hi in points_list.handins %}
<tr>
<td>{{hi.date}}</td>
<td>{{hi.session}}</td>
<td><a href="/session/{{hi.sessionid}}">details</td>
</tr>
{% endfor %}
</table>

<h3>Hand-ins</h3>
<table>
{% for ext in points_list.extra %}
<tr>
<td>{{ext.date}}</td>
<td>{{ext.points}}</td>
<td>{{ext.reason}}</td>
</tr>
{% endfor %}
</table>





{% endblock %}
