/*****************
* TABLE OF CONTENTS
*
* 1. CSS RESETS
* 2. GENERAL STYLES
* 3. FONTS
* 4. LAYOUT
* 5. MISC
* 6. MEDIA QUERIES
/*****************

/*****************
* 1. CSS RESETS
*
* Author: http://meyerweb.com/eric/tools/css/reset/
* Version v2.0 | 20110126
* License: none (public domain)
*****************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,
details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video{margin:0;padding:0;border:0;
font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,
figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/*****************
* 2. GENERAL STYLES
*****************/

/* All Selectors
*****************/
* {
	box-sizing: border-box;
	outline: none;
}

/* html/body
*****************/
html, body {
	width: 100%;
	height: 100%;
	position: relative;
}
body {
	font: normal 1em/1.25em Abel, sans-serif;
}

/* Links
*****************/
a {
	color: #006E79;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Headings
*****************/
h1,h2,h3,h4,h5,h6 {
	line-height: 1.75em;
}
h1 {
	font-size: 2em;
	margin-bottom: .5em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
	border-bottom: 1px solid rgba(0,0,0,.1);
	margin: 0 0 .5em;
}
h4 {
	font-size: 1.25em;
	margin: .75em 0;
}
/* Link color inheritence */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

/* Horizonta Rule
*****************/
hr {
	border: none;
	background: rgba(0,0,0,.3);
	height: 1px;
}

/* Bold Text
*****************/
strong {
	font-weight: bold;
}

/* Table
*****************/
table {
	width: 100%;
	text-align: left;
}
table thead {
	font-size: 1.1em;
	border-bottom: 1px solid rgba(0,0,0,.05);
}
table tr {
	line-height: 1.5em;
}
/* Apply styles to each 2nd row */
table tr:nth-of-type(2n+0) {
	background: rgba(0,0,0,.05);
}

table.grid3 td:first-of-type {
	width: 70%;
}

/* Forms
*****************/
input {
	border: 1px solid rgba(0,0,0,.2);
	padding: .5em 1em;
	margin: .5em 0;
	display: block;
}
/* Submit Button */
input[type='submit'] {
	background: rgba(0,110,121,.8);
	color: #fff;
	padding: 1em 1.5em;
	margin: 1em 0;
	font-size: .75em;
	font-weight: bold;
	line-height: 1em;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
input[type='submit']:hover {
	background: rgba(0,110,121,1);
	transform: scale(1.025);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}

/* Form Errors */
.form-error {
	font-size: .75em;
	color: #f00;
	padding: 0;
	line-height: 1em;
	margin: .25em 0;
}

/* Lists
*****************/
ul li {
	line-height: 1em;
	margin: .25em 0;
}

/*****************
* 3. FONTS
*****************/

/* Abel */
@font-face {
	font-family: Abel;
	src: url('../fonts/abel/abel-regular-webfont.woff2') format('woff2'),
 	url('../fonts/abel/abel-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

/*****************
* 4. LAYOUT
*****************/

/* Header */
header {
	background: #006E79;
	color: #fff;
	padding: .75em 0;
}
header a {
	color: #fff;
}

/* Page Width */
.pagewidth {
	max-width: 85%;
	margin: 0 auto;
}

/* Logo
*****************/
.logo {
		float: left;
		padding: .2em 0;
}

/* Site Title */
#site-title {
	color: #fff;
	display: inline-block;
	font-size: 1.75em;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	border: none;
	line-height: 1em;
}

/* Site Description */
#site-description {
	display: inline-block;
	font-size: .75em;
	line-height: 1em;
	vertical-align: middle;
}
/* Visual Separator */
#site-description::before {
	content: '|';
	margin: 0 1em;
}

/* Navigation
*****************/
.metanav {
	padding: 0 0 0 1em;
	float: right;
}
.metanav .login {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	padding: .6em 1.5em;
	margin: 0 0 0 1em;
	font-size: .8125em;
	font-weight: bold;
	line-height: 1em;
	border: 2px solid #fff;
	border-radius: 3px;
}
.metanav .login:hover {
	color: #006E79;
	background: #fff;
}

/* User Menu */
.user-menu .menu {
	display: inline-block;
	border-radius: 5px;
	padding: .45em .5em .45em .8em;
	background: rgba(0,70,76,.8);
}
.user-menu {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.user-menu ul {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 999;
	background: rgba(0,70,76,.8);
	margin: 0;
	padding: 1em;
	width: 150px;
	border-radius: 5px 0 5px 5px;
}
.user-menu ul li {
	margin: 0;
	padding: .25em 0;
}
.user-menu:hover .menu,
.user-menu.clicked .menu {
	border-radius: 5px 5px 0 0;
	color: #fff;
}
.user-menu:hover ul,
.user-menu.clicked ul {
	display: block;
	color: #fff
}
.user-menu:hover ul a {
	color: #fff
}

/* Flash Messages
*****************/
.message-container {
	position: fixed;
	bottom: 2em;
	left: 0;
	width: 100%;
	height: auto;
	background: rgba(255,255,255,.25);
	z-index: 99;
}
.message {
	width: 100%;
	z-index: 999;
	text-align: center;
	padding: .5em;
	font-size: 1em;
	background: rgba(0,255,0,.7);
	border-width: 5px 0;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
}
.message.error {
	background: rgba(255,0,0,.7);
	color: #fff;
}
.message-close {
	position: absolute;
	top: 50%;
	right: .5em;
	color: rgba(0,0,0,.5);
	display: block;
	line-height: 1em;
	cursor: pointer;
	padding: .2em;
	box-sizing: initial;
	cursor: pointer;
	transform: translateY(-50%);
}
.message-close:hover {
	color: #000;
	font-size:1.025em;
	transform: translateY(-50%) rotate(90deg);
}
.message.error .message-close {
	color: rgba(255,255,255,.5);
}
.message.error .message-close:hover {
	color: #fff;
}

/* Main/Content
*****************/
main {
	padding: 1em 0;
	margin: 0;
}

/* Graph */
.graph-container {
	padding: .25em .5em;
	background: rgba(0,110,121,.2);
	color: #333;
	margin: .5em 0;
	border-radius: 5px;
}
.graph-container:before {
	font-family: "fontello";
	content: 'Hide \e80a';
	font-size: .8125em;
	line-height: 1em;
	padding: .5em;
	margin: 0;
	display: block;
	cursor: pointer;
}
.graph-container.show:before {
	content: 'Show \e80a';
}
.graph {
	max-height: 500px;
	width: 100%;
	border-radius: 5px;
	margin-top: .25em;
}

/* Footer
*****************/
footer {
	font-size: .875em;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: .5em 0;
	border-top: 1px solid rgba(0,0,0,.1);
	background: #fff;
}

footer p {
	float: left;
}

.scroll-top {
	visibility: hidden;
	opacity: 0;
	float: right;
	cursor: pointer;
}
.scroll .scroll-top {
	visibility: visible;
	opacity: 1;
}
.scroll .scroll-top:hover {
	animation: jiggle linear .25s infinite alternate;
}

/*****************
* 5. MISC
*****************/

/* Fix/Clear float elements */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* Animations
/* .1 secons */
.metanav a,
.message-close,
input[type='submit'] {
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

/* .25 secons */
.scroll-top {
	-webkit-transition: all .25s ease-in;
	-moz-transition: all .25s ease-in;
	-o-transition: all .25s ease-in;
	transition: all .25s ease-in;
}

/* Keyframes
*****************/
@keyframes jiggle {
	0% { transform: translateY(-1px); }
	100% { transform: translateY(1px); }
}

/*****************
* 6. MEDIA QUERIES
*****************/
@media screen and (max-width:1160px) {
	.pagewidth {
		max-width: 94%;
	}
}

@media screen and (max-width:760px) {
	body {
		font-size: .9em;
	}

	#site-description {
		display: none;
	}
}

@media screen and (max-width:560px) {
	table.grid3 td:first-of-type {
		width: auto;
	}
}
